.side-menu {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);

  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  padding: 1.2rem 1.8rem;

  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.side-menu.visible {
  opacity: 1;
  pointer-events: auto;
}

.side-menu a {
  color: #979ca5;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  text-align: right;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
}

.side-menu a:hover {
  color: #65c999;
  transform: translateX(-5px);
}


@media (max-width: 968px) {
  .side-menu {
    display: none;
  }
}
